<% if ('undefined' !== typeof alert_danger) { %>
    <div class="alert alert-danger m-3" role="alert">
        <%= alert_danger %>
    </div>
<% } else if ('undefined' !== typeof alert_success) { %>
    <div class="alert alert-success m-3" role="alert">
        <%= alert_success %>
    </div>
<% } %>
