<%- include('html-header') %>

<%- include('header') %>

<%- include('alert') %>

<main>

    <a class="btn btn-outline-secondary float-left d-none d-md-block" href="/"><i class="fa fa-angle-left fa-3x"></i></a>

    <h1 class="text-center display-1 d-none d-md-block text-secondary m-5">Elfelejtett jelszó</h1>
    <h1 class="text-center d-block d-md-none text-secondary m-5">Elfelejtett jelszó</h1>

    <div class="col-10 offset-1 col-md-4 offset-md-4">
        <form action="/forgotten" method="post">
            <div class="form-group">
                <input type="email" class="form-control form-control-lg" name="email" placeholder="Email cím" required autofocus>
            </div>
            <button type="submit" class="btn btn-block btn-outline-secondary mb-1">Jelszó megjelenítése</button>
        </form>
    </div>

</main>

<%- include('html-footer') %>