<%- include('html-header') %>

<%- include('header') %>

<%- include('alert') %>

<main>

    <h1 class="text-center text-secondary display-1 d-none d-md-block m-5">Profil</h1>
    <h1 class="text-center text-secondary d-block d-md-none m-5">Profil</h1>

    <h1 class="text-center text-secondary display-4 d-none d-md-block m-5">Adataim</h1>
    <h4 class="text-center text-secondary d-block d-md-none m-5">Adataim</h4>

    <div class="col-12 col-md-6 col-lg-4 offset-md-3 offset-lg-4 text-center p-0">
        <div class="row">
            <h3 class="col-3 text-secondary d-none d-md-block p-0">Név</h3>
            <p class="col-3 text-secondary d-block d-md-none p-0">Név</p>
            <h3 class="col-9 text-secondary d-none d-md-block p-0">Lorem Ipsum</h3>
            <p class="col-9 text-secondary d-block d-md-none p-0">Lorem Ipsum</p>
            <h3 class="col-3 text-secondary d-none d-md-block p-0">Email</h3>
            <p class="col-3 text-secondary d-block d-md-none p-0">Email</p>
            <h3 class="col-9 text-secondary d-none d-md-block p-0">lorem@ipsum.com</h3>
            <p class="col-9 text-secondary d-block d-md-none p-0">lorem@ipsum.com</p>
        </div>
    </div>

    <h1 class="text-center text-secondary display-4 d-none d-md-block m-5">Receptjeim</h1>
    <h4 class="text-center text-secondary d-block d-md-none m-5">Receptjeim</h4>

    <div class="row text-center">

        <div class="col-12 col-md-6 col-lg-3 p-3">
            <div class="card">
                <div class="card-header text-center text-secondary">
                    <h1 class="d-none d-lg-block">Szecsuáni csirke</h1>
                    <h3 class="d-block d-lg-none">Szecsuáni csirke</h3>
                </div>
                <img class="card-img" src="https://lorempixel.com/640/480/food/1/">
                <div class="card-body text-center">
                    <a class="btn btn-lg btn-outline-secondary" href="/recipes/1">Megnézem</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 p-3">
            <div class="card">
                <div class="card-header text-center text-secondary">
                    <h1 class="d-none d-lg-block">BBQ Szendivcs</h1>
                    <h3 class="d-block d-lg-none">BBQ Szendvics</h3>
                </div>
                <img class="card-img" src="https://lorempixel.com/640/480/food/3/">
                <div class="card-body text-center">
                    <a class="btn btn-lg btn-outline-secondary" href="/recipes/3">Megnézem</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 p-3">
            <div class="card">
                <div class="card-header text-center text-secondary">
                    <h1 class="d-none d-lg-block">Lecsó</h1>
                    <h3 class="d-block d-lg-none">Lecsó</h3>
                </div>
                <img class="card-img" src="https://lorempixel.com/640/480/food/6/">
                <div class="card-body text-center">
                    <a class="btn btn-lg btn-outline-secondary" href="/recipes/5">Megnézem</a>
                </div>
            </div>
        </div>

    </div>

</main>

<%- include('html-footer') %>