<div class="col-lg-12 text-center mb-5">
    <div id="rating" class="text-danger display-3">
        <span class="far fa-heart" data-rating="1"></span>
        <span class="far fa-heart" data-rating="2"></span>
        <span class="far fa-heart" data-rating="3"></span>
        <span class="far fa-heart" data-rating="4"></span>
        <span class="far fa-heart" data-rating="5"></span>
    </div>
    <input id="rating-value" type="hidden" name="rating" class="rating-value" value="0">
</div>